* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: url('../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo-Regular.woff') format('woff'),
    url('../fonts/Arimo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.ttf') format('truetype'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3a4965;
    padding: 40px;
}

.table {
    margin: auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    font-family: "Arimo-Regular", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #e6e6e6;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

td, th {
    vertical-align: middle;
    line-height: 24px;
}

th {
    width: 157px;
    height: 111px;
}

td {
    height: 165px;
}

tr th {
    font-size: 20px;
    font-weight: bold;
}

i {
    font-size: 24px;
    color: #cdcdcd;
    vertical-align: middle;
    padding-bottom: 10px;
}

tr td:not(:first-child) {
    font-size: 16px;
}

tr td:nth-child(even),
tr th:nth-child(even) {
    background-color: #343434;
}

tr td:nth-child(odd),
tr th:nth-child(odd) {
    background-color: #525252;
}

tr th:first-child {
    width: 198px;
    background-color: #525252;
}

.table tr:first-child td:first-child {
    background-color: #007bb4;
    color: #fff;
}

.table tr:nth-child(2) td:first-child {
    background-color: #5c3867;
    color: #fff;
}

.table tr:nth-child(3) td:first-child {
    background-color: #52ca25;
    color: #fff;
}

.small {
    font-size: 14px;
}

.btn {
    display: inline-block;
    width: 144px;
    height: 41px;
    font-size: 16px;
    font-weight: bold;
    line-height: 41px;
    color: #fff;
    background: #990700;
    border-radius: 5px;
    border-bottom: 7px solid #7c0700;
    user-select: none;
    text-decoration: none;
    transition: all 400ms;
}

.btn:hover {
    background-color: #ff0322;
    border-bottom: 7px solid rgba(153, 7, 0, 0.6);
}

table tr:hover {
    font-weight: bold;
    color: #ffffff;
}

tr td:first-child {
    vertical-align: top;
}

.tariff_plan_name {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}

.price {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
}

.price:after {
    content: "";
    display: table;
    clear: both;
}

.dollars {
    float: left;
    margin-left: 25px;
    font-size: 36px;
}

.cent {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 12px;
}

.price span:last-child {
    float: left;
    display: block;
    margin-left: 5px;
}

/*row shadow*/
tr th,
tr:not(:last-child) td {
    border-bottom: 4px solid;
    border-image: linear-gradient(to top, rgba(0, 0, 0, .15), rgba(0, 0, 0, 0)) 100% 1;
}

.choose_theme {
    position: absolute;
    padding: 10px;
    border: 1px solid #1a2334;
    border-radius: 5px;
}

.choose_theme_caption {
    margin-bottom: 5px;
    color: #ffffff;
}
