* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 50px auto 0;
    width: 520px;
    border: solid 10px rgb(112, 146, 190);
    background-color: rgb(252, 230, 133);
    border-radius: 5px;
}

.board {
    display: flex;
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.rowDiv {
    width: 100%;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 94, 0);
    border: 1px solid rgb(85, 49, 6);
    font-weight: bold;
    user-select: none;
}

.hidden_cell {
    background-color: rgb(250, 206, 85);
}

.show_hidden_bomb {
    font-weight: bold;
    font-size: 20px;
    background-color: yellow;
    color: red;
}

.bomb {
    font-weight: bold;
    font-size: 20px;
    background-color: red;
    color: yellow;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 7px;
}

.startButton {
    margin-left: 10px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(177, 94, 0);
}

.hide {
    opacity: 0;
}

.info {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-right: 10px;
}

.gameover,
.won {
    color: red;
}

.flagtriangle {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: yellow;
    border: 3px solid red;
}
