.container {
    margin: 0 auto;
    width: 400px;
    min-height: 500px;
    border: 1px solid black;
    font-size: 20px;
}

.timer_block {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
