body {
    font-family: "Arial", serif;
}
.container {
    margin: 0 auto;
    width: 20vw;
    min-height: 300px;
    background-color: rgb(226, 226, 226);
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
}

.price,
.error,
form {
    margin: 15px auto 0;
    width: 85%;
    padding: 15px;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 50px;
}

.price,
.error {
    position: relative;
    display: none;
}

input {
    width: 75%;
    padding: 5px;
    border: 2px solid rgb(234, 234, 234);
    background-color: rgb(234, 234, 234);
    outline: none;
}

.show_block {
    display: block;
}

.border_highlight {
    border: 2px solid #2bff00;
}

.data_highlight {
    color: #1dae00;
    font-weight: 900;
}

.border_error {
    border: 2px solid #ff0000;
}

.data_error {
    color: #ff0000;
    font-weight: 900;
}

.btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(152, 152, 152);
    border-radius: 100px;
    font-size: 30px;
    cursor: pointer;
}

.btn:before,
.btn:after {
    position: absolute;
    left: 14px;
    top: 7px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: rgb(152, 152, 152);
}

.btn:before {
    transform: rotate(45deg);
}

.btn:after {
    transform: rotate(-45deg);
}
