ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    margin: 0 auto;
    width: 50vw;
    min-height: 50vh;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.tabs-title {
    padding: 20px;
    background-color: #23201d;
    color: #937341;
    cursor: pointer;
}

.button--active {
    background-color: #937341;
    color: #23201d;
}

.tab {
    display: none;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 2rem;
}

.tabs--active {
    display: block;
}
