* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-to-show {
    width: 100%;
    height: 400px;
    display: none;
    animation: fade 0.75s ease-out;
}

@keyframes fade {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel-container {
    width: 600px;
    overflow: hidden;
    margin: 20px auto 0;
    position: relative;
}

.active {
    display: inherit;
}

.btn {
    position: absolute;
    border: solid rgba(255, 255, 255, 0.3);
    border-width: 0 5px 5px 0;
    padding: 16px;
    cursor: pointer;
    top: calc(50% - 18px);
}

.btn:hover {
    border: solid rgba(255, 255, 255, 0.7);
    border-width: 0 5px 5px 0;
}

.left {
    left: 5%;
    transform: rotate(135deg);
}

.right {
    right: 5%;
    transform: rotate(-45deg);
}

.start,
.stop {
    width: 90px;
    padding: 7px 0;
    border-radius: 3px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0);
    position: absolute;
    bottom: 5%;
    font-family: "Arial", serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
}

.start:hover,
.stop:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

.start {
    left: 32%;
}

.stop {
    right: 32%;
}

.hidden_button {
    display: none;
}

.timer {
    width: 300px;
    margin: 20px auto 0;
    font-size: 30px;
    font-weight: bold;
}
