.wrapper {
    margin: 20px auto 0;
    width: 75vw;
    display: flex;
    justify-content: center;
}
.table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
}

.highlight {
    background-color: #000000;
    border: 1px solid #ffffff;
}

.revert {
    background-color: #000000;
}

.revert td {
    border: 1px solid #ffffff;
}

.revert .highlight {
    background-color: #ffffff;
    border: 1px solid #000000;
}
