* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-to-show {
    width: 100%;
    height: 400px;
    display: none;
    animation: fade 0.75s ease-out;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel-container {
    position: relative;
    width: 600px;
    margin: 20px auto 0;
}

.active {
    display: inherit;
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #1a14ff;
    border-radius: 50%;
    cursor: pointer;
    top: calc(50%);
    transform: translateY(-50%);
    z-index: 10;
    transition: all .5s;
}

.btn:hover {
    background-color: #0591f5;
}

.left:after,
.right:after {
    content: "";
    position: absolute;
    left: 15px;
    top: calc(50% - 8px);
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(135deg);
}

.right:after {
    left: 9px;
    transform: rotate(-45deg);
}

.right {
    right: -60px;
}

.left {
    left: -60px;
}



