.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.draw_circle {
    padding: 15px 35px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 30px;
}

.round_div {
    display: inline-block;
    margin: 10px;
    border-radius: 200px;
    cursor: pointer;
}
